body {
  margin:0px;
  background-color:rgba(0, 255, 127);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
a {
text-decoration:none;
}
.dark-mode {
  background-color: #000;
  color: #fff;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
    body {
      font-family: "Comic Sans MS", cursive;
    }
    .question {
	  position: absolute;
      top: 4cm;
      left: 3cm;
      margin-top: 30px;
      font-size: 18px;
      color: darkred;
    }
    .question p {
      margin-bottom: 10px;
    }
    .question label {
      display: block;
      margin-bottom: 5px;
    }
    .question button {
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 16px;
      background-color: darkred;
	  font-family: "Comic Sans MS";
      color: white;
      border: none;
      cursor: pointer;
    }
    #result {
      margin-top: 45px;
	  position: absolute;
      top: 4cm;
      left: 3cm;
    }
    #result h2 {
      font-size: 30px;
      color: darkred;
    }
    #result_text {
      font-size: 25px;
    }
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:#8A2BE2;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#B22222;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(255, 254, 255, 0.996078431372549);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:8px;
  width:105px;
  height:40px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(255, 254, 255, 0.996078431372549);
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47 {
  position: absolute; 
  top: 28px; 
  left:400px;
  cursor: pointer;
  border-width:0px;
  width:110px;
  height:25px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-size: 13px;
  font-style:normal;
  color:#9400D3;
}
a {
text-decoration:none;
}
#navbar ul{
display: none; 
position: absolute; 
}
#navbar li:hover ul {
display: block;
}
#navbar, #navbar ul{
margin: 0; 
padding: 0;
list-style-type: none;
}
#navbar 
{ 
height: 50px; 
padding-left: 540px;
min-width: 500px;
top: 50px;
display: flex;
justify-content: space-around; 
align-items: center;
border-width:0px;
position:absolute;
left:0px;
top:24px;
width:143px;
height:50px;
background:inherit;
background-color:rgba(255, 255, 255, 0);
border:none;
border-radius:0px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
font-weight:700;
font-style:normal;
color:#9400D3;
}
#navbar > div {
padding: 10px 20px;
}
#navbar > div:hover {
background-color: #797979; 
}
#navbar > div > a {
text-decoration: none; 
color:#9400D3;
}
#navbar li {
float: left; 
position: relative; 
height: 100%;
}
#navbar li a {
display: block;
padding: 4px; 
width: 100px;
color:#9400D3;
textdecoration: none; 
textalign: center;
}
#navbar ul li {
float: none;
}
#navbar li:hover {
}
#navbar ul li:hover {
background-color: #F6F6F6;
} 
#navbar a {
font-family: "Comic Sans MS", sans-serif; 
font-size: 13px;
}
#navbar ul a {
font-family: "Comic Sans MS", sans-serif;
font-size: 13px; 
}

#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:26px;
  width:74px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:26px;
  width:143px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:26px;
  width:39px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:26px;
  width:112px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:27px;
  width:48px;
  height:20px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#333333;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:92px;
  height:45px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color: #E6E6FA;
  text-shadow: 3px 2px 4px rgba(128,128,128,0.7);
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Lora", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:15px;
  width:100px;
  height:32px;
  display:flex;
  font-family:"Lora", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color: #E6E6FA;
  text-shadow: 3px 2px 4px rgba(128,128,128,0.7);
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:16px;
  width:1px;
  height:30px;
  display:flex;
  -webkit-transform:rotate(-0.3676126856265902deg);
  -moz-transform:rotate(-0.3676126856265902deg);
  -ms-transform:rotate(-0.3676126856265902deg);
  transform:rotate(-0.3676126856265902deg);
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:68px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:1200px;
  height:68px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#lavender-background {
    position: fixed;
    top: 160px; /* Поднимите или опустите в зависимости от того, насколько низко вы хотите, чтобы начинался фон */
    left: 50;
    width: 50%;
    height: calc(66% - 200px); /* Высота будет рассчитана с учетом нового отступа сверху */
    background-color: #E6E6FA;
    z-index: -1;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:227px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:1200px;
  height:217px;
  display:flex;
  vertical-align:super;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:38px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:549px;
  width:203px;
  height:28px;
  display:flex;
  font-family:"Tahoma Полужирный", "Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:super;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:594px;
  width:144px;
  height:19px;
  display:flex;
  font-family:"Tahoma Полужирный", "Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:super;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:44px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:544px;
  width:262px;
  height:34px;
  display:flex;
  font-size:16px;
  vertical-align:super;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:584px;
  width:145px;
  height:34px;
  display:flex;
  font-family:"Tahoma Полужирный", "Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:super;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:660px;
  width:34px;
  height:30px;
  display:flex;
  vertical-align:super;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:660px;
  width:29px;
  height:30px;
  display:flex;
  vertical-align:super;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:660px;
  width:34px;
  height:30px;
  display:flex;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:660px;
  width:33px;
  height:30px;
  display:flex;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:660px;
  width:37px;
  height:30px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:200px;
  color:rgba(170, 156, 170, 0.611764705882353);
}
#u45 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:463px;
  width:486px;
  height:230px;
  display:flex;
  opacity:0.65;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:200px;
  color:rgba(170, 156, 170, 0.611764705882353);
}
#u45 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:65px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:538px;
  width:122px;
  height:55px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:48px;
  color:rgba(255, 254, 255, 0.996078431372549);
  vertical-align:super;
}
#u46 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.8745098039215686);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.8745098039215686);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.8745098039215686);
  text-transform:none;
}
